COMPOSE_PROJECT_NAME=streambuild-orders-demo

STREAMBUILD_CLICKHOUSE_HOST=localhost
STREAMBUILD_CLICKHOUSE_PORT=18123
STREAMBUILD_CLICKHOUSE_USERNAME=clickhouse
STREAMBUILD_CLICKHOUSE_PASSWORD=clickhouse
CLICKHOUSE_NATIVE_PORT=19000

REDPANDA_PROXY_PORT=18082
REDPANDA_ADMIN_PORT=19644
REDPANDA_CONSOLE_PORT=18081

TICK_INTERVAL_SECONDS=3
NEW_ORDERS_PER_TICK=2
PRODUCER_RANDOM_SEED=86
FUTURE_EVENT_SECONDS=30
